# Preprocessing(1)

## Importing Necessary Libraries

In [738]:
#!pip install plotly

In [739]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from collections import Counter
import re
import plotly.figure_factory as ff
import plotly.express as px
from datetime import datetime, timedelta
from sklearn.preprocessing import MultiLabelBinarizer

## Loading Data

In [740]:
df = pd.read_csv('games_info.csv')
game_details = pd.read_csv('games_name_url_price.csv')

## Initial Data Exploration

### games_info.csv

In [741]:
df.head(10)

,NAME,STORE_GENRE,RATING_SCORE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,TECHNOLOGIES,RELEASE_DATE,TOTAL_TWITCH_PEAK,PRICE,N_DLC,24_HOUR_PEAK
0,Dragon's Dogma: Dark Arisen,"Store Genres Action (1), Adventure (25), RPG (3)",review_score 8,7 Languages,Capcom,Windows,39271,5015,NaN,15 January 2016 – 16:48:00 UTC (9 years ago),"27,368\nall-time peak 9 years ago17 January 2016",$22.49,3.0,"1,064\n24-hour peak"
1,Forza Horizon 5,"Store Genres Action (1), Adventure (25), Racin...",review_score 8,24 Languages,Playground Games,Windows,156683,21075,NaN,9 November 2021 – 04:58:00 UTC (3 years ago),"81,096\nall-time peak 3 years ago13 November 2021",$32.78,53.0,"16,131\n24-hour peak"
2,Thrive,"Store Genres Casual (4), Indie (23), Simulatio...",review_score 8,1 Languages,Revolutionary Games Studio,Windows Linux,872,70,Engine.Godot,26 November 2021 – 10:54:48 UTC (3 years ago),145\nall-time peak 2 years ago24 July 2022,$2.99,NaN,21\n24-hour peak
3,Layers of Fear (2016),"Store Genres Adventure (25), Indie (23)",review_score 8,12 Languages,Bloober Team SA,Windows macOS Linux,22766,2819,Engine.Unity,15 February 2016 – 21:53:00 UTC (8 years ago),"145,384\nall-time peak 6 years ago13 June 2018",$10.19,3.0,31\n24-hour peak
4,TaskPals,"Store Genres Indie (23), Free to Play (37)",review_score 8,1 Languages,lazarche,Windows,834,66,"Detected Technologies (?), SDK.SteamworksNET",25 May 2023 – 10:22:41 UTC (12 months ago),"3,778\nall-time peak 10 months ago18 July 2023",NaN,4.0,318\n24-hour peak
5,U-ena -遠花火の少女-,"Store Genres Adventure (25), Casual (4), Free ...",review_score 8,3 Languages,HemiolaStudio,Windows,582,41,"Engine.Lightvn, Detected Technologies (?), Eng...",8 May 2022 – 11:32:26 UTC (2 years ago),2 years ago,NaN,NaN,NaN
6,BattleGroupVR,"Store Genres Action (1), Simulation (28), Stra...",review_score 8,3 Languages,SpaceOwl Games,Windows Linux,784,61,Engine.Unity,31 July 2023 – 07:27:28 UTC (10 months ago),40\nall-time peak 3 years ago17 January 2021,$8.49,NaN,7\n24-hour peak
7,Wargame: Red Dragon,"Store Genres Indie (23), Simulation (28), Stra...",review_score 8,11 Languages,Eugen Systems,Windows macOS Linux,16273,1969,NaN,17 April 2014 – 17:00:00 UTC (10 years ago),"4,779\nall-time peak 10 years ago1 April 2014",$29.99,8.0,802\n24-hour peak
8,High On Life,"Store Genres Action (1), Adventure (25)",review_score 8,5 Languages,"Squanch Games, Inc.",Windows,13941,1669,"Engine.Unreal, SDK.EpicOnlineServices",13 December 2022 – 08:00:00 UTC (2 years ago),"11,608\nall-time peak 2 years ago18 December 2022",$18.99,1.0,212\n24-hour peak
9,Rocket League,"Store Genres Action (1), Indie (23), Racing (9...",review_score 8,13 Languages,Psyonix LLC,Windows macOS Linux,508263,70214,"Engine.Unreal, SDK.EpicOnlineServices",7 July 2015 – 06:59:00 UTC (9 years ago),"147,632\nall-time peak 4 years ago27 September...",NaN,25.0,"32,851\n24-hour peak"

In [742]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2259 non-null   object
 1   STORE_GENRE            2221 non-null   object
 2   RATING_SCORE           2225 non-null   object
 3   N_SUPPORTED_LANGUAGES  2226 non-null   object
 4   DEVELOPERS             2258 non-null   object
 5   SUPPORTED_PLATFORMS    2197 non-null   object
 6   POSITIVE_REVIEWS       2259 non-null   int64
 7   NEGATIVE_REVIEWS       2259 non-null   int64
 8   TECHNOLOGIES           1845 non-null   object
 9   RELEASE_DATE           2255 non-null   object
 10  TOTAL_TWITCH_PEAK      2259 non-null   object
 11  PRICE                  1507 non-null   object
 12  N_DLC                  789 non-null    float64
 13  24_HOUR_PEAK           2208 non-null   object
dtypes: float64(1), int64(2), object(11)
memory usage: 247.2+ KB

In [743]:
df.describe()

       POSITIVE_REVIEWS  NEGATIVE_REVIEWS       N_DLC
count      2.259000e+03       2259.000000  789.000000
mean       2.087847e+04       1270.529438    5.904943
std        7.540080e+04       5824.763668   17.345104
min        3.400000e+01          0.000000    1.000000
25%        7.245000e+02         33.000000    1.000000
50%        2.509000e+03        136.000000    2.000000
75%        1.043100e+04        602.000000    4.000000
max        1.257272e+06     190953.000000  379.000000

In [744]:
df.describe(include='object')

,NAME,STORE_GENRE,RATING_SCORE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,TECHNOLOGIES,RELEASE_DATE,TOTAL_TWITCH_PEAK,PRICE,24_HOUR_PEAK
count,2259,2221,2225,2226,2258,2197,1845,2255,2259,1507,2208
unique,2088,325,3,36,1668,6,234,2071,2066,125,643
top,TOEM,"Store Genres Action (1), Adventure (25), Indie...",review_score 8,1 Languages,Square Enix,Windows,Engine.Unity,17 September 2021 – 13:00:40 UTC (3 years ago),2 years ago,$19.99,4\n24-hour peak
freq,4,113,1355,583,16,1294,764,4,8,206,81

### game_details.csv

In [745]:
game_details.head()

,name,url,price,release,page
0,The Price Of Flesh,https://steamdb.info/app/1940040/,$14.99,2022,38
1,Terminator: Resistance,https://steamdb.info/app/954740/,$39.99,2019,38
2,Ken Follett's The Pillars of the Earth,https://steamdb.info/app/234270/,$19.99,2017,38
3,Subsurface Circular,https://steamdb.info/app/676820/,$4.79,2017,38
4,Sumire,https://steamdb.info/app/1335230/,$5.99,2021,38

In [746]:
game_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4950 entries, 0 to 4949
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4950 non-null   object
 1   url      4950 non-null   object
 2   price    4950 non-null   object
 3   release  4950 non-null   object
 4   page     4950 non-null   int64
dtypes: int64(1), object(4)
memory usage: 193.5+ KB

In [747]:
game_details.describe(include='object')

              name                           url price release
count         4950                          4950  4950    4950
unique        4236                          4238   191      29
top     Black Book  https://steamdb.info/app/80/     -    2023
freq             3                             3  1131     653

## Removing Duplicated Games

In [748]:
df_copy = df.copy()
duplicate_rows = df[df.duplicated(subset=['NAME'])]
print("Duplicate Rows based on the 'NAME' column:")

num_duplicates = duplicate_rows.shape[0]
print(f"Number of duplicate rows based on the 'NAME' column: {num_duplicates}")
df = df_copy.drop_duplicates(subset=['NAME'], keep='first')

Duplicate Rows based on the 'NAME' column:
Number of duplicate rows based on the 'NAME' column: 171

In [749]:
duplicate_rows['NAME'].head()

61                             The Night of the Scissors
132                 If My Heart Had Wings -Flight Diary-
133                                              KNIGHTS
139    Command & Conquer: Red Alert™ 2 and Yuri’s Rev...
156                                         Metro Exodus
Name: NAME, dtype: object

In [750]:
del df_copy
del duplicate_rows

## Handling Missing Values

In [751]:
df.replace('N/A', pd.NA, inplace=True)

In [752]:
def missing_percentage(df):
    missing_percentage = df.isnull().mean() * 100
    missing_percentage_table = pd.DataFrame({'Column': missing_percentage.index, 'Missing Percentage': missing_percentage.values})
    missing_percentage_table = missing_percentage_table.sort_values(by='Missing Percentage', ascending=False)
    return missing_percentage_table

missing_percentage_table = missing_percentage(df)

In [753]:
missing_percentage_table

                   Column  Missing Percentage
12                  N_DLC           65.038314
11                  PRICE           32.950192
8            TECHNOLOGIES           18.582375
5     SUPPORTED_PLATFORMS            2.729885
13           24_HOUR_PEAK            2.250958
1             STORE_GENRE            1.724138
2            RATING_SCORE            1.532567
3   N_SUPPORTED_LANGUAGES            1.484674
9            RELEASE_DATE            0.191571
4              DEVELOPERS            0.047893
0                    NAME            0.000000
6        POSITIVE_REVIEWS            0.000000
7        NEGATIVE_REVIEWS            0.000000
10      TOTAL_TWITCH_PEAK            0.000000

In [754]:
del missing_percentage_table

In [755]:
def drop_rows_with_missing_data(df, threshold_percentage):
    threshold = len(df.columns) * (threshold_percentage / 100)
    initial_row_count = len(df)
    df_cleaned = df.dropna(thresh=len(df.columns) - threshold)
    final_row_count = len(df_cleaned)
    rows_deleted = initial_row_count - final_row_count
    return df_cleaned, rows_deleted

df, rows_deleted = drop_rows_with_missing_data(df, 25)

In [756]:
print(f"Number of rows deleted: {rows_deleted}")

Number of rows deleted: 37

In [757]:
missing_percentage_table = missing_percentage(df)
missing_percentage_table

                   Column  Missing Percentage
12                  N_DLC           64.895173
11                  PRICE           33.008289
8            TECHNOLOGIES           18.430034
5     SUPPORTED_PLATFORMS            2.340322
13           24_HOUR_PEAK            0.731351
1             STORE_GENRE            0.195027
9            RELEASE_DATE            0.195027
4              DEVELOPERS            0.048757
0                    NAME            0.000000
2            RATING_SCORE            0.000000
3   N_SUPPORTED_LANGUAGES            0.000000
6        POSITIVE_REVIEWS            0.000000
7        NEGATIVE_REVIEWS            0.000000
10      TOTAL_TWITCH_PEAK            0.000000

In [758]:
del missing_percentage_table

In [759]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2051 entries, 0 to 2258
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2051 non-null   object
 1   STORE_GENRE            2047 non-null   object
 2   RATING_SCORE           2051 non-null   object
 3   N_SUPPORTED_LANGUAGES  2051 non-null   object
 4   DEVELOPERS             2050 non-null   object
 5   SUPPORTED_PLATFORMS    2003 non-null   object
 6   POSITIVE_REVIEWS       2051 non-null   int64
 7   NEGATIVE_REVIEWS       2051 non-null   int64
 8   TECHNOLOGIES           1673 non-null   object
 9   RELEASE_DATE           2047 non-null   object
 10  TOTAL_TWITCH_PEAK      2051 non-null   object
 11  PRICE                  1374 non-null   object
 12  N_DLC                  720 non-null    float64
 13  24_HOUR_PEAK           2036 non-null   object
dtypes: float64(1), int64(2), object(11)
memory usage: 240.4+ KB

## Handle Missing Values:(`N_DLC`)   
### (Remove Columns with High Missing Values)

In [760]:
# df['N_DLC'] = pd.to_numeric(df['N_DLC'], errors='coerce') 
# df['N_DLC'] = df['N_DLC'].fillna(-1)  
# df['N_DLC'] = df['N_DLC'].astype(int) 
# df['N_DLC'] = df['N_DLC'].replace(-1, pd.NA)
# df['N_DLC']

In [761]:
if 'N_DLC' in df.columns:
    df.drop(columns=['N_DLC'], inplace=True)

In [762]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2051 entries, 0 to 2258
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2051 non-null   object
 1   STORE_GENRE            2047 non-null   object
 2   RATING_SCORE           2051 non-null   object
 3   N_SUPPORTED_LANGUAGES  2051 non-null   object
 4   DEVELOPERS             2050 non-null   object
 5   SUPPORTED_PLATFORMS    2003 non-null   object
 6   POSITIVE_REVIEWS       2051 non-null   int64
 7   NEGATIVE_REVIEWS       2051 non-null   int64
 8   TECHNOLOGIES           1673 non-null   object
 9   RELEASE_DATE           2047 non-null   object
 10  TOTAL_TWITCH_PEAK      2051 non-null   object
 11  PRICE                  1374 non-null   object
 12  24_HOUR_PEAK           2036 non-null   object
dtypes: int64(2), object(11)
memory usage: 224.3+ KB

## Extracting `PUBLISH_YEAR` from `RELEASE_DATE`

In [763]:
df['RELEASE_DATE'].head(10)

0     15 January 2016 – 16:48:00 UTC (9 years ago)
1     9 November 2021 – 04:58:00 UTC (3 years ago)
2    26 November 2021 – 10:54:48 UTC (3 years ago)
3    15 February 2016 – 21:53:00 UTC (8 years ago)
4       25 May 2023 – 10:22:41 UTC (12 months ago)
5          8 May 2022 – 11:32:26 UTC (2 years ago)
6      31 July 2023 – 07:27:28 UTC (10 months ago)
7      17 April 2014 – 17:00:00 UTC (10 years ago)
8    13 December 2022 – 08:00:00 UTC (2 years ago)
9         7 July 2015 – 06:59:00 UTC (9 years ago)
Name: RELEASE_DATE, dtype: object

In [764]:
if 'RELEASE_DATE' in df.columns:
    df['PUBLISH_YEAR'] = df['RELEASE_DATE'].str.extract(r'(\d{4})')

    df['PUBLISH_YEAR'] = pd.to_numeric(df['PUBLISH_YEAR'], errors='coerce')

    df['PUBLISH_YEAR'] = df['PUBLISH_YEAR'].fillna(-1)
    df['PUBLISH_YEAR'] = df['PUBLISH_YEAR'].astype(int)
    df['PUBLISH_YEAR'] = df['PUBLISH_YEAR'].replace(-1, pd.NA)

    df = df.drop('RELEASE_DATE', axis=1)

## Handle Missing Values:(`PUBLISH_YEAR`)

In [765]:
null_count_before = df['PUBLISH_YEAR'].isnull().sum()
missing_names = df[df['PUBLISH_YEAR'].isnull()]['NAME']
null_count_before

4

In [766]:
missing_names

226     Assassin's Creed IV Black Flag
883     Serious Sam Fusion 2017 (beta)
1510                 Mark of the Ninja
1931                    Sleeping Dogs™
Name: NAME, dtype: object

In [767]:
result = game_details[game_details['name'].isin(missing_names)][['name', 'release']]
result

                                name release
1362               Mark of the Ninja       -
4487  Serious Sam Fusion 2017 (beta)       -

In [768]:
df.loc[df['NAME'] == 'Serious Sam Fusion 2017 (beta)', 'PUBLISH_YEAR'] = 2017
df['PUBLISH_YEAR'].isnull().sum()

3

In [769]:
# mode_publish_year = df['PUBLISH_YEAR'].mode()
# print(mode_publish_year[0])
# df['PUBLISH_YEAR'] = df['PUBLISH_YEAR'].fillna(mode_publish_year[0])

df = df.dropna(subset=['PUBLISH_YEAR'])

In [770]:
null_count_after = df['PUBLISH_YEAR'].isnull().sum()
null_count_after

0

In [771]:
df['PUBLISH_YEAR'] = df['PUBLISH_YEAR'].astype(int)

In [772]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 2258
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2048 non-null   object
 1   STORE_GENRE            2044 non-null   object
 2   RATING_SCORE           2048 non-null   object
 3   N_SUPPORTED_LANGUAGES  2048 non-null   object
 4   DEVELOPERS             2047 non-null   object
 5   SUPPORTED_PLATFORMS    2000 non-null   object
 6   POSITIVE_REVIEWS       2048 non-null   int64
 7   NEGATIVE_REVIEWS       2048 non-null   int64
 8   TECHNOLOGIES           1672 non-null   object
 9   TOTAL_TWITCH_PEAK      2048 non-null   object
 10  PRICE                  1373 non-null   object
 11  24_HOUR_PEAK           2033 non-null   object
 12  PUBLISH_YEAR           2048 non-null   int32
dtypes: int32(1), int64(2), object(10)
memory usage: 216.0+ KB

## Handle Missing Values:(`DEVELOPERS`)

In [773]:
df['DEVELOPERS'].isnull().sum()

1

In [774]:
df.dropna(subset=['DEVELOPERS'], inplace=True)

## Data Cleaning and Integer Conversion: (`N_SUPPORTED_LANGUAGES`)

This section handles the `N_SUPPORTED_LANGUAGES` column by filling missing values with a default number (1) and converting the column to an integer type after removing any extraneous text.

In [775]:
df['N_SUPPORTED_LANGUAGES'].isnull().sum()

0

In [776]:
df['N_SUPPORTED_LANGUAGES'].head()

0     7 Languages
1    24 Languages
2     1 Languages
3    12 Languages
4     1 Languages
Name: N_SUPPORTED_LANGUAGES, dtype: object

In [777]:
df['N_SUPPORTED_LANGUAGES'] = df['N_SUPPORTED_LANGUAGES'].fillna(1)

In [778]:
df['N_SUPPORTED_LANGUAGES'] = df['N_SUPPORTED_LANGUAGES'].astype(str).str.replace(' Languages', '').astype(int)

## Data Cleaning and Integer Conversion: (`RATING_SCORE`)

In [779]:
df['RATING_SCORE'].isnull().sum()

0

In [780]:
df['RATING_SCORE'].head()

0    review_score 8
1    review_score 8
2    review_score 8
3    review_score 8
4    review_score 8
Name: RATING_SCORE, dtype: object

In [781]:
placeholder_value = 'review_score -1'
df['RATING_SCORE'] = df['RATING_SCORE'].fillna(placeholder_value)

In [782]:
df['RATING_SCORE'] = df['RATING_SCORE'].str.replace('review_score ', '').astype(float)

In [783]:
df['RATING_SCORE'].head(1)

0    8.0
Name: RATING_SCORE, dtype: float64

In [784]:
# mean_rating_score = df.loc[df['RATING_SCORE'] != -1, 'RATING_SCORE'].mean()  
# df.loc[df['RATING_SCORE'] == -1, 'RATING_SCORE'] = mean_rating_score

## Extracting `RATING_SCORE` from `POSITIVE_REVIEWS` & `NEGATIVE_REVIEWS` 
(Using this approach, we achieve a higher precision score.)

In [785]:
df['POSITIVE_REVIEWS'].isnull().sum()

0

In [786]:
df['NEGATIVE_REVIEWS'].isnull().sum()

0

In [787]:
if 'RATING_SCORE' in df.columns:
    df.drop(columns=['RATING_SCORE'], inplace=True)

In [788]:
df['RATING_SCORE'] = df['POSITIVE_REVIEWS'] / (df['NEGATIVE_REVIEWS'] + df['POSITIVE_REVIEWS'])
df['RATING_SCORE'].head(1)

0    0.886759
Name: RATING_SCORE, dtype: float64

## Extracting `TOTAL_RATE_SUM` from `POSITIVE_REVIEWS` & `NEGATIVE_REVIEWS`

In [789]:
df['TOTAL_RATE_SUM'] = (df['NEGATIVE_REVIEWS'] + df['POSITIVE_REVIEWS'])
df['TOTAL_RATE_SUM'].head()

0     44286
1    177758
2       942
3     25585
4       900
Name: TOTAL_RATE_SUM, dtype: int64

## Data Cleaning and Transforming: (`STORE_GENRE`)

In [790]:
df['STORE_GENRE'].head()

0     Store Genres Action (1), Adventure (25), RPG (3)
1    Store Genres Action (1), Adventure (25), Racin...
2    Store Genres Casual (4), Indie (23), Simulatio...
3              Store Genres Adventure (25), Indie (23)
4           Store Genres Indie (23), Free to Play (37)
Name: STORE_GENRE, dtype: object

In [791]:
def clean_store_genre(genre_string):
    genres = genre_string.split(', ')
    cleaned_genres = []
    for genre in genres:
        cleaned_genre = genre.split(' (')[0]
        cleaned_genres.append(cleaned_genre)
    return cleaned_genres

In [792]:
df['STORE_GENRE'] = df['STORE_GENRE'].fillna('Store Genres')
df['STORE_GENRE'] = df['STORE_GENRE'].str.replace('Store Genres ', '')
df['STORE_GENRE'] = df['STORE_GENRE'].apply(clean_store_genre)

In [793]:
df['STORE_GENRE'].head(10)

0                           [Action, Adventure, RPG]
1    [Action, Adventure, Racing, Simulation, Sports]
2          [Casual, Indie, Simulation, Early Access]
3                                 [Adventure, Indie]
4                              [Indie, Free to Play]
5                  [Adventure, Casual, Free to Play]
6                     [Action, Simulation, Strategy]
7                      [Indie, Simulation, Strategy]
8                                [Action, Adventure]
9                    [Action, Indie, Racing, Sports]
Name: STORE_GENRE, dtype: object

## Extracting and Handling `TWITCH_PEAK` Data

##### Extracting `TWITCH_PEAK_HOUR` & `TWITCH_PEAK_YEAR` from `TOTAL_TWITCH_PEAK`
##### Handle Missing Values:(`TWITCH_PEAK_YEAR`, `TWITCH_PEAK_HOUR`, `TWITCH_PEAK_HOUR`)

In [794]:
df['TOTAL_TWITCH_PEAK'].head()

0     27,368\nall-time peak 9 years ago17 January 2016
1    81,096\nall-time peak 3 years ago13 November 2021
2           145\nall-time peak 2 years ago24 July 2022
3       145,384\nall-time peak 6 years ago13 June 2018
4       3,778\nall-time peak 10 months ago18 July 2023
Name: TOTAL_TWITCH_PEAK, dtype: object

In [795]:
df['24_HOUR_PEAK'].isnull().sum()

15

In [796]:
if 'TOTAL_TWITCH_PEAK' in df.columns:
    # Extract and convert the TWITCH_PEAK_HOUR
    df['TWITCH_PEAK_HOUR'] = df['TOTAL_TWITCH_PEAK'].apply(lambda x: x.split('\n')[0].replace(',', ''))
    df['TWITCH_PEAK_HOUR'] = pd.to_numeric(df['TWITCH_PEAK_HOUR'], errors='coerce')
    df['TWITCH_PEAK_HOUR'] = df['TWITCH_PEAK_HOUR'].fillna(-1)
    df['TWITCH_PEAK_HOUR'] = df['TWITCH_PEAK_HOUR'].astype(int)
    df['TWITCH_PEAK_HOUR'] = df['TWITCH_PEAK_HOUR'].replace(-1, pd.NA)
    
    # Extract and convert the TWITCH_PEAK_YEAR
    df['TWITCH_PEAK_YEAR'] = df['TOTAL_TWITCH_PEAK'].apply(lambda x: x.split()[-1])
    df['TWITCH_PEAK_YEAR'] = pd.to_numeric(df['TWITCH_PEAK_YEAR'], errors='coerce')
    df['TWITCH_PEAK_YEAR'] = df['TWITCH_PEAK_YEAR'].fillna(-1)
    df['TWITCH_PEAK_YEAR'] = df['TWITCH_PEAK_YEAR'].astype(int)
    df['TWITCH_PEAK_YEAR'] = df['TWITCH_PEAK_YEAR'].replace(-1, pd.NA)

In [797]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2047 entries, 0 to 2258
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2047 non-null   object
 1   STORE_GENRE            2047 non-null   object
 2   N_SUPPORTED_LANGUAGES  2047 non-null   int32
 3   DEVELOPERS             2047 non-null   object
 4   SUPPORTED_PLATFORMS    1999 non-null   object
 5   POSITIVE_REVIEWS       2047 non-null   int64
 6   NEGATIVE_REVIEWS       2047 non-null   int64
 7   TECHNOLOGIES           1671 non-null   object
 8   TOTAL_TWITCH_PEAK      2047 non-null   object
 9   PRICE                  1372 non-null   object
 10  24_HOUR_PEAK           2032 non-null   object
 11  PUBLISH_YEAR           2047 non-null   int32
 12  RATING_SCORE           2047 non-null   float64
 13  TOTAL_RATE_SUM         2047 non-null   int64
 14  TWITCH_PEAK_HOUR       2032 non-null   object
 15  TWITCH_PEAK_YEAR       2032 non-null   object
dtypes: float64(1), int32(2), int64(3), object(10)
memory usage: 255.9+ KB

In [798]:
df['TWITCH_PEAK_YEAR'].isnull().sum()

15

In [799]:
df['TWITCH_PEAK_HOUR'].isnull().sum()

15

In [800]:
df[(df['TWITCH_PEAK_HOUR'].isnull() | df['TWITCH_PEAK_YEAR'].isnull())][['TWITCH_PEAK_HOUR','TWITCH_PEAK_YEAR', 'TOTAL_TWITCH_PEAK']]

     TWITCH_PEAK_HOUR TWITCH_PEAK_YEAR TOTAL_TWITCH_PEAK
5                <NA>             <NA>       2 years ago
10               <NA>             <NA>       5 years ago
122              <NA>             <NA>       9 years ago
152              <NA>             <NA>       4 years ago
279              <NA>             <NA>      5 months ago
286              <NA>             <NA>       6 years ago
539              <NA>             <NA>       4 years ago
548              <NA>             <NA>     13 months ago
572              <NA>             <NA>       11 days ago
580              <NA>             <NA>     14 months ago
615              <NA>             <NA>      7 months ago
631              <NA>             <NA>      6 months ago
1297             <NA>             <NA>      7 months ago
1333             <NA>             <NA>      3 months ago
1929             <NA>             <NA>       9 years ago

In [801]:
data_collection_date = datetime(2024, 5, 28)

def calculate_twitch_peak_year(total_twitch_peak):
    match = re.match(r"(\d+)\s(\w+)\sago", total_twitch_peak)
    if not match:
        return None
    
    value, unit = int(match.group(1)), match.group(2)
    if unit.startswith('year'):
        delta = timedelta(days=365 * value)
    elif unit.startswith('month'):
        delta = timedelta(days=30 * value)
    elif unit.startswith('day'):
        delta = timedelta(days=value)
    else:
        return None
    
    peak_date = data_collection_date - delta
    return peak_date.year

In [802]:
df.loc[df['TWITCH_PEAK_YEAR'].isnull(), 'TWITCH_PEAK_YEAR'] = df.loc[df['TWITCH_PEAK_YEAR'].isnull(), 'TOTAL_TWITCH_PEAK'].apply(calculate_twitch_peak_year)

In [803]:
df[(df['TWITCH_PEAK_HOUR'].isnull() | df['TWITCH_PEAK_YEAR'].isnull())][['TWITCH_PEAK_HOUR','TWITCH_PEAK_YEAR', 'TOTAL_TWITCH_PEAK']]

     TWITCH_PEAK_HOUR TWITCH_PEAK_YEAR TOTAL_TWITCH_PEAK
5                <NA>             2022       2 years ago
10               <NA>             2019       5 years ago
122              <NA>             2015       9 years ago
152              <NA>             2020       4 years ago
279              <NA>             2023      5 months ago
286              <NA>             2018       6 years ago
539              <NA>             2020       4 years ago
548              <NA>             2023     13 months ago
572              <NA>             2024       11 days ago
580              <NA>             2023     14 months ago
615              <NA>             2023      7 months ago
631              <NA>             2023      6 months ago
1297             <NA>             2023      7 months ago
1333             <NA>             2024      3 months ago
1929             <NA>             2015       9 years ago

In [804]:
df[(df['TWITCH_PEAK_HOUR'].isnull() |  df['TWITCH_PEAK_YEAR'].isnull())][['TWITCH_PEAK_HOUR', '24_HOUR_PEAK']]

     TWITCH_PEAK_HOUR 24_HOUR_PEAK
5                <NA>          NaN
10               <NA>          NaN
122              <NA>          NaN
152              <NA>          NaN
279              <NA>          NaN
286              <NA>          NaN
539              <NA>          NaN
548              <NA>          NaN
572              <NA>          NaN
580              <NA>          NaN
615              <NA>          NaN
631              <NA>          NaN
1297             <NA>          NaN
1333             <NA>          NaN
1929             <NA>          NaN

In [805]:
df = df.dropna(subset=['TWITCH_PEAK_HOUR', '24_HOUR_PEAK'], how='all')

In [806]:
#Drop the original column `TOTAL_TWITCH_PEAK`
df.drop(columns=['TOTAL_TWITCH_PEAK'], inplace=True)

In [807]:
df['TWITCH_PEAK_HOUR'] = df['TWITCH_PEAK_HOUR'].astype(float)
df['TWITCH_PEAK_YEAR'] = df['TWITCH_PEAK_YEAR'].astype(int)

In [808]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2032 entries, 0 to 2258
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NAME                   2032 non-null   object
 1   STORE_GENRE            2032 non-null   object
 2   N_SUPPORTED_LANGUAGES  2032 non-null   int32
 3   DEVELOPERS             2032 non-null   object
 4   SUPPORTED_PLATFORMS    1985 non-null   object
 5   POSITIVE_REVIEWS       2032 non-null   int64
 6   NEGATIVE_REVIEWS       2032 non-null   int64
 7   TECHNOLOGIES           1657 non-null   object
 8   PRICE                  1370 non-null   object
 9   24_HOUR_PEAK           2032 non-null   object
 10  PUBLISH_YEAR           2032 non-null   int32
 11  RATING_SCORE           2032 non-null   float64
 12  TOTAL_RATE_SUM         2032 non-null   int64
 13  TWITCH_PEAK_HOUR       2032 non-null   float64
 14  TWITCH_PEAK_YEAR       2032 non-null   int32
dtypes: float64(2), int32(3), int64(3), object(7)
memory usage: 230.2+ KB

## Transforming: (`24_HOUR_PEAK`)

In [809]:
df['24_HOUR_PEAK'].head()

0     1,064\n24-hour peak
1    16,131\n24-hour peak
2        21\n24-hour peak
3        31\n24-hour peak
4       318\n24-hour peak
Name: 24_HOUR_PEAK, dtype: object

In [810]:
df['24_HOUR_PEAK'] = df['24_HOUR_PEAK'].fillna(("-1\n24-hour peak"))
df['24_HOUR_PEAK'] = df['24_HOUR_PEAK'].apply(lambda x: int(x.split('\n')[0].replace(',', ''))).astype(float)

In [811]:
df.loc[df['24_HOUR_PEAK'] == -1, '24_HOUR_PEAK'] = pd.NA

In [812]:
df['24_HOUR_PEAK'].describe()

count      2032.000000
mean       1185.736713
std        6441.760299
min           0.000000
25%          10.000000
50%          36.500000
75%         210.000000
max      109950.000000
Name: 24_HOUR_PEAK, dtype: float64

In [813]:
df['24_HOUR_PEAK'].isnull().sum()

0

In [814]:
df['24_HOUR_PEAK'] = df['24_HOUR_PEAK'].fillna(df['24_HOUR_PEAK'].median())


## <span style="color:RED"> Cleaning and Handling Missing: (`TECHNOLOGIES`) </span>

In [815]:
df['TECHNOLOGIES'].head(10)

0                                                   NaN
1                                                   NaN
2                                          Engine.Godot
3                                          Engine.Unity
4          Detected Technologies (?), SDK.SteamworksNET
6                                          Engine.Unity
7                                                   NaN
8                 Engine.Unreal, SDK.EpicOnlineServices
9                 Engine.Unreal, SDK.EpicOnlineServices
11    Engine.PyGame, Engine.RenPy, Detected Technolo...
Name: TECHNOLOGIES, dtype: object

In [816]:
df['TECHNOLOGIES'] = df['TECHNOLOGIES'].str.replace('Detected Technologies (?)', '', regex=False).str.replace(', ,', ',').str.strip(', ')

In [817]:
df['TECHNOLOGIES'].head(10)

0                                                   NaN
1                                                   NaN
2                                          Engine.Godot
3                                          Engine.Unity
4                                     SDK.SteamworksNET
6                                          Engine.Unity
7                                                   NaN
8                 Engine.Unreal, SDK.EpicOnlineServices
9                 Engine.Unreal, SDK.EpicOnlineServices
11    Engine.PyGame, Engine.RenPy, Engine.PyGame, En...
Name: TECHNOLOGIES, dtype: object

In [818]:
df[df['TECHNOLOGIES'].isnull()][['NAME', 'PUBLISH_YEAR']].head(10)

                                NAME  PUBLISH_YEAR
0        Dragon's Dogma: Dark Arisen          2016
1                    Forza Horizon 5          2021
7                Wargame: Red Dragon          2014
23  Ghost of Tsushima DIRECTOR'S CUT          2024
36                   100 hidden dogs          2021
40                      Rush Rally 3          2022
44                  100 hidden birds          2020
62          Granblue Fantasy: Relink          2024
66                          Cursed 3          2022
68                  Stardom 3 Deluxe          2022

In [819]:
df['TECHNOLOGIES'] = df['TECHNOLOGIES'].fillna('')  # Replace NaN with empty string
df['TECHNOLOGIES'] = df['TECHNOLOGIES'].apply(lambda x: x.split(', ') if x else [])

In [820]:
df['TECHNOLOGIES'].head(10)

0                                                    []
1                                                    []
2                                        [Engine.Godot]
3                                        [Engine.Unity]
4                                   [SDK.SteamworksNET]
6                                        [Engine.Unity]
7                                                    []
8               [Engine.Unreal, SDK.EpicOnlineServices]
9               [Engine.Unreal, SDK.EpicOnlineServices]
11    [Engine.PyGame, Engine.RenPy, Engine.PyGame, E...
Name: TECHNOLOGIES, dtype: object

In [821]:
df.head(10)

,NAME,STORE_GENRE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,TECHNOLOGIES,PRICE,24_HOUR_PEAK,PUBLISH_YEAR,RATING_SCORE,TOTAL_RATE_SUM,TWITCH_PEAK_HOUR,TWITCH_PEAK_YEAR
0,Dragon's Dogma: Dark Arisen,"[Action, Adventure, RPG]",7,Capcom,Windows,39271,5015,[],$22.49,1064.0,2016,0.886759,44286,27368.0,2016
1,Forza Horizon 5,"[Action, Adventure, Racing, Simulation, Sports]",24,Playground Games,Windows,156683,21075,[],$32.78,16131.0,2021,0.881440,177758,81096.0,2021
2,Thrive,"[Casual, Indie, Simulation, Early Access]",1,Revolutionary Games Studio,Windows Linux,872,70,[Engine.Godot],$2.99,21.0,2021,0.925690,942,145.0,2022
3,Layers of Fear (2016),"[Adventure, Indie]",12,Bloober Team SA,Windows macOS Linux,22766,2819,[Engine.Unity],$10.19,31.0,2016,0.889818,25585,145384.0,2018
4,TaskPals,"[Indie, Free to Play]",1,lazarche,Windows,834,66,[SDK.SteamworksNET],NaN,318.0,2023,0.926667,900,3778.0,2023
6,BattleGroupVR,"[Action, Simulation, Strategy]",3,SpaceOwl Games,Windows Linux,784,61,[Engine.Unity],$8.49,7.0,2023,0.927811,845,40.0,2021
7,Wargame: Red Dragon,"[Indie, Simulation, Strategy]",11,Eugen Systems,Windows macOS Linux,16273,1969,[],$29.99,802.0,2014,0.892062,18242,4779.0,2014
8,High On Life,"[Action, Adventure]",5,"Squanch Games, Inc.",Windows,13941,1669,"[Engine.Unreal, SDK.EpicOnlineServices]",$18.99,212.0,2022,0.893081,15610,11608.0,2022
9,Rocket League,"[Action, Indie, Racing, Sports]",13,Psyonix LLC,Windows macOS Linux,508263,70214,"[Engine.Unreal, SDK.EpicOnlineServices]",NaN,32851.0,2015,0.878623,578477,147632.0,2020
11,Kitten adventures in city park,"[Adventure, Indie]",6,Lokator Studio,Windows macOS Linux,541,37,"[Engine.PyGame, Engine.RenPy, Engine.PyGame, E...",NaN,1.0,2017,0.935986,578,30.0,2021

## One-Hot Encoding `TECHNOLOGIES` Column (`TECHNOLOGIES`)

In [822]:
if 'TECHNOLOGIES' in df.columns:
    mlb = MultiLabelBinarizer()
    technologies_one_hot = mlb.fit_transform(df['TECHNOLOGIES'])
    technologies_one_hot_df = pd.DataFrame(technologies_one_hot, columns=mlb.classes_)
    technologies_one_hot_df.columns = ['TECH: ' + col for col in technologies_one_hot_df.columns]
    df = pd.concat([df, technologies_one_hot_df], axis=1)
    df.drop('TECHNOLOGIES', axis=1, inplace=True)
    del mlb

In [823]:
df.head(10)

,NAME,STORE_GENRE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,PRICE,24_HOUR_PEAK,PUBLISH_YEAR,...,TECH: SDK.UnityHybridRenderer,TECH: SDK.UnityURP,TECH: SDK.V8,TECH: SDK.Vorbis,TECH: SDK.Wwise,TECH: SDK.XAudio2,TECH: SDK.Yarn_Spinner,TECH: SDK.cURL,TECH: SDK.iCue,TECH: SDK.iZotope
0,Dragon's Dogma: Dark Arisen,"[Action, Adventure, RPG]",7.0,Capcom,Windows,39271.0,5015.0,$22.49,1064.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Forza Horizon 5,"[Action, Adventure, Racing, Simulation, Sports]",24.0,Playground Games,Windows,156683.0,21075.0,$32.78,16131.0,2021.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Thrive,"[Casual, Indie, Simulation, Early Access]",1.0,Revolutionary Games Studio,Windows Linux,872.0,70.0,$2.99,21.0,2021.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Layers of Fear (2016),"[Adventure, Indie]",12.0,Bloober Team SA,Windows macOS Linux,22766.0,2819.0,$10.19,31.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TaskPals,"[Indie, Free to Play]",1.0,lazarche,Windows,834.0,66.0,NaN,318.0,2023.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,BattleGroupVR,"[Action, Simulation, Strategy]",3.0,SpaceOwl Games,Windows Linux,784.0,61.0,$8.49,7.0,2023.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Wargame: Red Dragon,"[Indie, Simulation, Strategy]",11.0,Eugen Systems,Windows macOS Linux,16273.0,1969.0,$29.99,802.0,2014.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,High On Life,"[Action, Adventure]",5.0,"Squanch Games, Inc.",Windows,13941.0,1669.0,$18.99,212.0,2022.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Rocket League,"[Action, Indie, Racing, Sports]",13.0,Psyonix LLC,Windows macOS Linux,508263.0,70214.0,NaN,32851.0,2015.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Kitten adventures in city park,"[Adventure, Indie]",6.0,Lokator Studio,Windows macOS Linux,541.0,37.0,NaN,1.0,2017.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0


##  One-Hot Encoding `STORE_GENRE` Column (`STORE_GENRE`)

In [824]:
problematic_rows = df[df['STORE_GENRE'].apply(lambda x: isinstance(x, float))]
problematic_rows

,NAME,STORE_GENRE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,PRICE,24_HOUR_PEAK,PUBLISH_YEAR,...,TECH: SDK.UnityHybridRenderer,TECH: SDK.UnityURP,TECH: SDK.V8,TECH: SDK.Vorbis,TECH: SDK.Wwise,TECH: SDK.XAudio2,TECH: SDK.Yarn_Spinner,TECH: SDK.cURL,TECH: SDK.iCue,TECH: SDK.iZotope
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [825]:
df = df[~df.index.isin(problematic_rows.index)]

In [826]:
if 'STORE_GENRE' in df.columns:
    mlb = MultiLabelBinarizer()
    store_genre_one_hot = mlb.fit_transform(df['STORE_GENRE'])
    store_genre_one_hot_df = pd.DataFrame(store_genre_one_hot, columns=mlb.classes_)
    store_genre_one_hot_df.columns = ['GENRE: ' + col for col in store_genre_one_hot_df.columns]
    df = pd.concat([df, store_genre_one_hot_df], axis=1)
    del mlb

In [827]:
df.head(10)

,NAME,STORE_GENRE,N_SUPPORTED_LANGUAGES,DEVELOPERS,SUPPORTED_PLATFORMS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,PRICE,24_HOUR_PEAK,PUBLISH_YEAR,...,GENRE: Early Access,GENRE: Free to Play,GENRE: Indie,GENRE: Massively Multiplayer,GENRE: RPG,GENRE: Racing,GENRE: Simulation,GENRE: Sports,GENRE: Store Genres,GENRE: Strategy
0,Dragon's Dogma: Dark Arisen,"[Action, Adventure, RPG]",7.0,Capcom,Windows,39271.0,5015.0,$22.49,1064.0,2016.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Forza Horizon 5,"[Action, Adventure, Racing, Simulation, Sports]",24.0,Playground Games,Windows,156683.0,21075.0,$32.78,16131.0,2021.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
2,Thrive,"[Casual, Indie, Simulation, Early Access]",1.0,Revolutionary Games Studio,Windows Linux,872.0,70.0,$2.99,21.0,2021.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,Layers of Fear (2016),"[Adventure, Indie]",12.0,Bloober Team SA,Windows macOS Linux,22766.0,2819.0,$10.19,31.0,2016.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TaskPals,"[Indie, Free to Play]",1.0,lazarche,Windows,834.0,66.0,NaN,318.0,2023.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,BattleGroupVR,"[Action, Simulation, Strategy]",3.0,SpaceOwl Games,Windows Linux,784.0,61.0,$8.49,7.0,2023.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7,Wargame: Red Dragon,"[Indie, Simulation, Strategy]",11.0,Eugen Systems,Windows macOS Linux,16273.0,1969.0,$29.99,802.0,2014.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,High On Life,"[Action, Adventure]",5.0,"Squanch Games, Inc.",Windows,13941.0,1669.0,$18.99,212.0,2022.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9,Rocket League,"[Action, Indie, Racing, Sports]",13.0,Psyonix LLC,Windows macOS Linux,508263.0,70214.0,NaN,32851.0,2015.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Kitten adventures in city park,"[Adventure, Indie]",6.0,Lokator Studio,Windows macOS Linux,541.0,37.0,NaN,1.0,2017.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## One-Hot Encoding `SUPPORTED_PLATFORMS` Column

This section transforms the 'SUPPORTED_PLATFORMS' column into separate binary columns for each platform using one-hot encoding, which facilitates easier analysis and modeling.

In [828]:
df['SUPPORTED_PLATFORMS']

0                   Windows
1                   Windows
2             Windows Linux
3       Windows macOS Linux
4                   Windows
               ...
1626                    NaN
1757                    NaN
1929                    NaN
1931                    NaN
1937                    NaN
Name: SUPPORTED_PLATFORMS, Length: 2236, dtype: object

In [829]:
df['SUPPORTED_PLATFORMS'].isnull().sum()

251

In [830]:
all_platforms = df['SUPPORTED_PLATFORMS'].dropna().str.split().sum()
platform_counts = Counter(all_platforms)
most_common_platform = platform_counts.most_common(1)[0][0]

most_common_platform

df.loc[df['SUPPORTED_PLATFORMS'].isnull(), 'SUPPORTED_PLATFORMS'] = most_common_platform

In [831]:
# Split the 'SUPPORTED_PLATFORMS' column into separate columns for each platform
platform_dummies = df['SUPPORTED_PLATFORMS'].str.get_dummies(sep=' ')

# Concatenate the dummy columns with the original DataFrame
df = pd.concat([df, platform_dummies], axis=1)

In [832]:
df.drop(columns=['SUPPORTED_PLATFORMS'], inplace=True)

In [833]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2236 entries, 0 to 1937
Columns: 167 entries, NAME to macOS
dtypes: float64(160), int64(3), object(4)
memory usage: 2.9+ MB

## Merging Game Information and Price DataFrames

### Removing `PRICE` Column

In [834]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2236 entries, 0 to 1937
Columns: 167 entries, NAME to macOS
dtypes: float64(160), int64(3), object(4)
memory usage: 2.9+ MB

In [835]:
game_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4950 entries, 0 to 4949
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4950 non-null   object
 1   url      4950 non-null   object
 2   price    4950 non-null   object
 3   release  4950 non-null   object
 4   page     4950 non-null   int64
dtypes: int64(1), object(4)
memory usage: 193.5+ KB

In [836]:
non_numeric = game_details[~game_details['release'].str.isnumeric()]
print("Non-numeric values:\n", non_numeric)
game_details_cleaned = game_details[game_details['release'].str.isnumeric()]

game_details['release'] = pd.to_numeric(game_details['release'], errors='coerce')

game_details['release'] = game_details['release'].astype('Int64')

Non-numeric values:
                                   name                                url  \
352             Building Relationships  https://steamdb.info/app/2666920/
354          BoneField: Bodycam Horror  https://steamdb.info/app/2567770/
355                         TEXNOPLAZM  https://steamdb.info/app/2527710/
356                Ripple In Dirac Sea  https://steamdb.info/app/2421650/
357                     100 Egypt Cats  https://steamdb.info/app/3017380/
...                                ...                                ...
2749                        Splinterra  https://steamdb.info/app/2779600/
3225             Football Manager 2011    https://steamdb.info/app/34220/
3782  Assassin’s Creed® IV Black Flag™   https://steamdb.info/app/242050/
4487    Serious Sam Fusion 2017 (beta)   https://steamdb.info/app/564310/
4772                   Sniper Elite V2    https://steamdb.info/app/63380/

        price release  page
352         -       -    46
354         -       -    46
355         -       -    46
356         -       -    46
357         -       -    46
...       ...     ...   ...
2749        -       -    52
3225        -       -    68
3782  $39.99        -    65
4487  $11.00        -    76
4772        -       -    82

[244 rows x 5 columns]

In [837]:
def standardize_spaces(text):
    if isinstance(text, str):
        return re.sub(r'\s+', ' ', text)
    return text

df['NAME'] = df['NAME'].astype(str).str.lower().str.strip().apply(standardize_spaces)
game_details['name'] = game_details['name'].astype(str).str.lower().str.strip().apply(standardize_spaces)

In [838]:
def is_valid_price(price):
    return not (str(price).startswith('$') or str(price) == '-')

df.loc[~df['PRICE'].apply(is_valid_price), 'PRICE'] = np.nan
filtered_df = df[df['PRICE'].apply(is_valid_price)]

for index, row in filtered_df.iterrows():
    game_name = row['NAME']
    game_date = row['PUBLISH_YEAR']
    price = game_details[game_details['name'] == game_name]['price'].values
    
    if len(price) > 0:
        df.at[index, 'PRICE'] = price[0]

In [839]:
# name_set = set(df['NAME'])

# missing_games_urls = game_details[~game_details['name'].isin(name_set)]['url'].tolist()

# with open('missing_games_urls.txt', 'w') as file:
#     for url in missing_games_urls:
#         file.write(url + '\n')

In [840]:
df[df['PRICE'].isnull()]

,NAME,STORE_GENRE,N_SUPPORTED_LANGUAGES,DEVELOPERS,POSITIVE_REVIEWS,NEGATIVE_REVIEWS,PRICE,24_HOUR_PEAK,PUBLISH_YEAR,RATING_SCORE,...,GENRE: Massively Multiplayer,GENRE: RPG,GENRE: Racing,GENRE: Simulation,GENRE: Sports,GENRE: Store Genres,GENRE: Strategy,Linux,Windows,macOS
0,dragon's dogma: dark arisen,"[Action, Adventure, RPG]",7.0,Capcom,39271.0,5015.0,NaN,1064.0,2016.0,0.886759,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,forza horizon 5,"[Action, Adventure, Racing, Simulation, Sports]",24.0,Playground Games,156683.0,21075.0,NaN,16131.0,2021.0,0.881440,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0,1,0
3,layers of fear (2016),"[Adventure, Indie]",12.0,Bloober Team SA,22766.0,2819.0,NaN,31.0,2016.0,0.889818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1
4,taskpals,"[Indie, Free to Play]",1.0,lazarche,834.0,66.0,NaN,318.0,2023.0,0.926667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
7,wargame: red dragon,"[Indie, Simulation, Strategy]",11.0,Eugen Systems,16273.0,1969.0,NaN,802.0,2014.0,0.892062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1,0
1757,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1929,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1931,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,0
1937,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [841]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2236 entries, 0 to 1937
Columns: 167 entries, NAME to macOS
dtypes: float64(160), int64(3), object(4)
memory usage: 2.9+ MB

In [842]:
# import time
# import random
# import pandas as pd
# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.edge.service import Service
# from selenium.webdriver.edge.options import Options
# from webdriver_manager.microsoft import EdgeChromiumDriverManager
# from urllib.parse import quote

# def get_game_price(driver, game_name):
#     time.sleep(random.uniform(5, 10)) 
#     search_url = f"https://steamdb.info/instantsearch/?query={quote(game_name)}"
#     print(game_name, search_url)
#     driver.get(search_url)
#     print(search_url)

#     # if "Please verify" in driver.page_source:
#     #     #input("Complete the verification and press Enter to continue...")
#     #     #time.sleep(random.uniform(5, 10)) 
#     #     return None
    
#     hits = driver.find_elements(By.CLASS_NAME, 'ais-Hits-item')
#     for hit in hits:
#         hit_name = hit.find_element(By.CLASS_NAME, 's-hit--name').text.strip()
#         if hit_name.lower() == game_name.lower():
#             try:
#                 price = hit.find_element(By.CLASS_NAME, 's-hit--price').text.strip()
#                 return price
#             except:
#                 return '-'
#     return None  


# try:
#     existing_prices_df = pd.read_csv('games_missing_price.csv')
#     existing_prices = dict(zip(existing_prices_df['NAME'], existing_prices_df['PRICE']))
# except FileNotFoundError:
#     existing_prices = {}

# options = Options()
# options.use_chromium = True
# driver = webdriver.Edge(service=Service(EdgeChromiumDriverManager().install()), options=options)

# games_missing_price = df[df['PRICE'].isnull()]
# max_attempts = 5
# attempts = 0

# while not games_missing_price.empty and attempts < max_attempts:
#     attempts += 1
#     print(f"Attempt {attempts}")

#     games_missing_price = games_missing_price.sample(frac=1).reset_index(drop=True)

#     for index, row in games_missing_price.iterrows():
#         game_name = row['NAME']
#         if game_name in existing_prices:
#             price = existing_prices[game_name]
#             print(f"Found existing price for {game_name}: {price}")
#         else:
#             price = get_game_price(driver, game_name)
#             if price != None:
#                 df.at[index, 'PRICE'] = price
#                 existing_prices[game_name] = price
#                 print(f"Updated price for {game_name}: {price}")
#             else:
#                 print(f"Price not found for {game_name}")

        

#     games_missing_price = df[df['PRICE'].isnull()]

# prices_df = pd.DataFrame(list(existing_prices.items()), columns=['NAME', 'PRICE'])
# prices_df.to_csv('games_missing_price.csv', index=False)

# driver.quit()

In [843]:
null_count = df['PRICE'].isnull().sum()

print("Null count in PRICE column:", null_count)

Null count in PRICE column: 911

In [844]:
del game_details

## Handling 'PRICE' Column

In [845]:
df['PRICE'] = df['PRICE'].replace('-', '$0')

In [846]:
price_pattern = r'\$([\d.]+)'

df['PRICE'] = df['PRICE'].str.extract(price_pattern)

In [847]:
df['PRICE'] = df['PRICE'].astype(float)

In [848]:
null_count = df['PRICE'].isnull().sum()

print("Null count in PRICE column:", null_count)

Null count in PRICE column: 979

In [849]:
df['PRICE'].describe()

count    1257.000000
mean       13.113294
std        12.243899
min         0.000000
25%         3.190000
50%         9.990000
75%        19.990000
max        69.990000
Name: PRICE, dtype: float64

In [850]:
# Drop rows with null values in the 'PRICE' column
#df.dropna(subset=['PRICE'], inplace=True)
#df['PRICE'] = df['PRICE'].fillna('$0')

In [851]:
# df[df['PRICE'].isnull() == True]

In [852]:
# null_count = df['PRICE'].isnull().sum()

# print("Null count in PRICE column:", null_count)

## Final Dataset Preparation

In [853]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2236 entries, 0 to 1937
Columns: 167 entries, NAME to macOS
dtypes: float64(161), int64(3), object(3)
memory usage: 2.9+ MB

In [854]:
df.to_csv('preprocessed_game_info.csv', index=False)